* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #211d12;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

main {
  width: 80%;
  margin: auto;
  display: flex;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1,
em,
strong {
  animation: loading 1s ease-out;
}

button {
  outline: none;
  padding: 0;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background: transparent;
  animation: loading 1s ease-out, pulse 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(33, 29, 18, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 29, 18, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 29, 18, 0);
  }
}

@media screen and (max-width: 640px) {
  button {
    width: 3.5rem;
    height: 3.5rem;
  }
}
